# Python
*.pyc
__pycache__/
*.py[cod]
.Python
venv/
ENV/

# Django
*.log
db.sqlite3
/staticfiles/

# IDE
.vscode/
.idea/
*.swp

# Environment
.env

# Vercel
.vercel/
vercel.json

# OS
.DS_Store
Thumbs.db
